/* Add a black background color to the top navigation */
.topbar {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



/*Changes the color upon hovering*/
.topbar a:hover {
    background-color: grey;
    animation: infinite;
    color: black;
}

/* Deals with the Search Bar Format*/
.topbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}



.navbar-custom {
    background-color: black;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
        display: list-item;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}