<div class="flexbox">
    <div class="react">
        <a>react</a>
    </div>
    <div class="vue">
        <a>vue</a>
    </div>
    <div class="angular">
        <a>angular</a>
    </div>
    <div class="javascript">
        <a>javascript</a>
    </div>
    <div class="node">
        <a>node</a>
    </div>
    <div class="laravel">
        <a>laravel</a>
    </div>
    <div class="css">
        <a>css</a>
    </div>
    <div class="vs-code">
        <a>vs-code</a>
    </div>
    <div class="python">
        <a>python</a>
    </div>
</div>