.flexbox {
    display: flex;
    font-size: 14px;
    padding: 12px 25px;
    padding-top: 12px;
    padding-right: 25px;
    padding-bottom: 12px;
    padding-left: 25px;
    gap: 55px;
    justify-content: center;
    background: rgba(0,0,0,.82);
    background-color: rgba(0, 0, 0, 0.82);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.react {
    color: #00d8ff;
}

.vue {
    color: #49d091;
}

.angular {
    color: #e03237;
}

.javascript {
    color: #bcac29;
}

.node {
    color: #33a956;
}

.laravel {
    color: #ff8682;
}

.css {
    color: #2ca9e1;
}

.vs-code {
    color: #a5d8fa;
}

.python {
    color: #fdd22d;
}

.flexbox a:hover {
    background-color: grey;

}